<p>Please log in below</p>

<form method="post" action="/login">
	<label>Username: </label>
	<input type="text" name="username"><br></br>
	<label>Password: </label>
	<input type="text" name="password"><br></br>
	<input type="submit", name="Log In">

</form>

<a href="/signup">Or sign up here</a>