<h1>View all available runs</h1>

<% @runs.each do |run| %>
	<div>
		<p>Location: <%= run.location %></p>
		<p>Date: <%= run.date %></p>
		<p>Distance: <%= run.distance %> miles</p>
		<p>Runner: <%= run.runner.username %></p>
	</div><br>
<% end %>

